{% extends 'main.html' %} 
    {% block title%}
    <title>Change Password Page page</title>
    {% endblock title%}
 
 {% block body %}

{%for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong>Message!</strong> {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
  <h1>Change Your Password</h1> 
  <div class="container my-4">
<form class="row g-3 " method='POST' action='change_password'>
{% csrf_token %}
  <div class="col-md-12">
    <label for="inputPassword4" class="form-label">Enter New Password</label>
    <input type="password" class="form-control" id="inputPassword4" name='newpassword'>
  </div>
 
  
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Change Password</button>
  </div>
  
  
</form>
</div>
{% endblock body %}
